@import "../../styles";

nav {
  background: linear-gradient(45deg, $primary 0%, $accent 100%);
  color: white;

  .logo {
    font-size: 18px;
    font-weight: bold;
  }

  .active {
    border-bottom: 1px solid white;
  }
}
