body.dark {
  --mdc-outlined-card-container-color: #444444;

  .list-primary li {
    background-color: #444444;

    &:hover,
    &.active {
      background-color: $primary;
    }
  }
}

.list-primary {
  li {
    padding: 10px 15px;
    border: 1px solid $lightgray;
    border-top: 0;
    transition: background-color .4s, color .4s;

    &:hover,
    &.active {
      background-color: $primary;
      color: white;
      cursor: pointer;
    }

    &:first-child {
      border-top: 1px solid $lightgray;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.mdc-button {
  &:not(:disabled).btn {
    &-primary {
      background-color: $primary;
      color: white;

      &:hover {
        background-color: $lightprimary;
      }
    }

    &-danger {
      background-color: $danger;
      color: white;

      &:hover {
        background-color: $lightdanger;
      }
    }

    &-close {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

body.dark {
  background-color: #444444;
  color: #DDDDDD;
}
