$font-family: "Roboto", sans-serif;
$primary: #546DE5;
$lightprimary: lighten($primary, 10%);
$secondary: #778BEB;
$lightsecondary: lighten($secondary, 10%);
$accent: #E5546D;
$lightaccent: lighten($accent, 10%);
$lightgray: #DDD;
$text-regular: #444;
$danger: #E5546D;
$lightdanger: lighten($danger, 10%);
