<h3 class="mb-20">Liste des cocktails</h3>

<input #search type="text" placeholder="Rechercher un cocktail" (keyup)="updateCocktails(search.value)" class="mb-20">

<ul class="list-primary mb-20">
    <li
      *ngFor="let cocktail of cocktails$ | async"
      (click)="showCocktail(cocktail.id)"
      [appSelected]="cocktail.id === selectedCocktailId"
    >
        {{ cocktail.name }}
    </li>
</ul>

<button (click)="showModal()" mat-raised-button>Ajouter un cocktail</button>
<app-cocktail-add (showModalEvent)="showModal()" [active]="active"/>
