<div [class]="'modal' + (active ? ' show' : '')">
  <div class="modal-dialog">
    <div class="modal-content">
      <h1 class="mb-10">Ajouter</h1>
      <button (click)="showModal()" class="btn-close" mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Fermer" fontIcon="close"></mat-icon>
      </button>

      <form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field class="full-width">
          <mat-label>Titre</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="name?.invalid && name?.touched">INVALID</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" rows="3"></textarea>
          <mat-error *ngIf="description?.invalid && description?.touched">INVALID</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Image url</mat-label>
          <input matInput formControlName="image">
          <mat-error *ngIf="image?.invalid && image?.touched">INVALID</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="cocktailForm.invalid">Ajouter</button>
      </form>
    </div>
  </div>
</div>
