<div [class]="'modal' + (active ? ' show' : '')">
  <div class="modal-dialog">
    <div class="modal-content">
      <h1>Ajouter</h1>
      <button (click)="showModal()" class="btn btn-close"></button>

      <form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Titre</label>
          <input type="text" formControlName="name" class="form-control">
          <div *ngIf="cocktailForm.get('name')?.invalid && cocktailForm.get('name')?.touched">INVALID</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea formControlName="description" class="form-control" rows="3"></textarea>
          <div *ngIf="cocktailForm.get('description')?.invalid && cocktailForm.get('description')?.touched">INVALID</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Image url</label>
          <input formControlName="image" class="form-control">
          <div *ngIf="cocktailForm.get('image')?.invalid && cocktailForm.get('image')?.touched">INVALID</div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="cocktailForm.invalid">Ajouter</button>
      </form>
    </div>
  </div>
</div>
