* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #546DE5;
  --secondary: #778BEB;
  --accent: #E5546D;
  --lightgray: #DDD;
  --text-regular: #444;
}

body {
  font-family: var(--font-family);
  color: var(--text-regular);
}
